// $typography 字體排版
body {
  font-family: $fontStyle;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: $colorFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title {
  font-size: 32px;
}

.subtitle {
  font-size: 24px;
}

p,
.text {
  font-size: 14px;
}

// common
body * {
  box-sizing: border-box;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 32px;
}

a {
  color: $colorSecondary;
}

.hidden {
  display: none !important;
}

.hidden-pad {
  @include rwd(pad) {
    display: none !important;
  }
}

.display-pad {
  @include rwd(pad) {
    display: block !important;
  }
}
